export default [
	// {
	// 	id: '', // [String] id client
	// 	domain: '*.abc.com' // [String] domain
	// 	overlay: true, // [Bool] show error on client
	// 	entryPoints: './bundle/index.js', // [String|Array|Callable] file inject code init hot reload, can be path, array of paths, callable recieve client config as param
	// 	engine: { // engine for resolving hot load
	// 		back: {}, // [Object] engine for resolving file in back-end
	// 		front: '', // [String] engine for resolving file in front-end which injected to entry points, can be code as string or path to file contain code  
	// 	},
	// 	inject: { // config for injecting js to client
	// 		minimize: true // [Bool] minimize js, css
	// 	},
	// 	matchFile: (path, hot) => {}, // [callable] matching checker for file
	// 	match: (info, hot) => {}, // [callable] matching checker for socket client
	// 	// enjoy to add your props
	// }
]
