// import fs from 'fs'
import path from 'path'

import ClientConfig from './client.config.js'
import QueuePlugin from './src/plugin/queue.js'

export default {
	host: 'localhost',
	port: '3000',
	protocol: 'http',
	// cors
	domains: [],
	credentials: true,
	// ssl: {
	// 	key: fs.readFileSync('./ssl.key'),
	// 	cert: fs.readFileSync('./ssl.crt'),
	// 	// ca: fs.readFileSync('./ssl.ca.crt')
	// },
	watch: {
		cwd: path.resolve(process.cwd(), './'),
		files: ['**/*.js', '**/*.css', '**/*.html'],
		ignored: [
			// common folder
			'**/node_modules/**',
			'**/.git/**',
			'**/dist/**',
			'**/build/**'
		],
		persistent: true,
		ignoreInitial: true,
	},
	plugins: [ QueuePlugin() ],
	clients: ClientConfig,
}
