body {
	font-family: Arial, sans-serif;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

#changes {
	margin-top: 20px;
	height: 700px;
	overflow: auto;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
}

#links {
	margin-top: 10px;
}

.change-item {
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 4px;

}

.add {
	background-color: #e6ffe6;
}

.change {
	background-color: #ffe6cc;
}

.delete {
	background-color: #ffe6e6;
}
